<a href="https://colab.research.google.com/github/abnerxch/bi-project/blob/main/ETL_de_OBI_Berkely_Indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adriana Mundo, Ábner Xocop y Fernanda González

# Epidemiología social del SARS-CoV-2: Inclusiveness & Covid Performance indexes

- The **Inclusiveness Index Report** is an annual publication that identifies and captures the degree of group-based inclusion and marginality experienced across the world and within the United States. It ranks states and countries on their levels of inclusivity using six measures: outgroup violence; political representation; income inequality; anti-discrimination laws; rates of incarceration; and immigration/asylum policies.
- The institute created the **Covid Performance Index** to measure the performance of all 50 states and 172 countries primarily based on three factors: rates of infection, death, and testing.

[Index Info](https://belonging.berkeley.edu/inclusivenessindex)

## Extract & Load

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
covid_index = pd.read_csv('https://gist.githubusercontent.com/armi3/b8d197a5470e3165a968c547da9e9bd5/raw/c8dd1f9a5bf7ffa968d418bfe0ecd3a76e4f8005/covid_index')
covid_index.info()
covid_index.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   State                      50 non-null     object
 1   State Abbreviation         50 non-null     object
 2   Cases per 100,000 people   50 non-null     float64
 3   Deaths per 100,000 people  50 non-null     float64
 4   Tests per 100,000 people   50 non-null     float64
 5   Index ranking              50 non-null     int64
 6   COVID Index                50 non-null     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 2.9+ KB

        State State Abbreviation  ...  Index ranking  COVID Index
0     Alabama                 AL  ...             42      -0.5387
1      Alaska                 AK  ...              2       1.3950
2     Arizona                 AZ  ...             47      -0.6663
3    Arkansas                 AR  ...             41      -0.4421
4  California                 CA  ...             10       0.3641

[5 rows x 7 columns]

In [ ]:
inclusiveness_index = pd.read_csv('https://gist.githubusercontent.com/armi3/b8d197a5470e3165a968c547da9e9bd5/raw/c8dd1f9a5bf7ffa968d418bfe0ecd3a76e4f8005/inclusiveness_index')
inclusiveness_index.info()
inclusiveness_index.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   State name                    50 non-null     object
 1   State abbreviation            50 non-null     object
 2   Z-score (General Population)  50 non-null     float64
 3   Z-score (Race)                50 non-null     float64
 4   Z-score (Gender)              50 non-null     float64
 5   Z-score (Sexual Orientation)  50 non-null     float64
 6   Z-score (Religion)            50 non-null     float64
 7   Z-score (Disability)          50 non-null     float64
 8   Inclusiveness index           50 non-null     float64
 9   Index categories 2020         50 non-null     object
dtypes: float64(7), object(3)
memory usage: 4.0+ KB

   State name State abbreviation  ...  Inclusiveness index  Index categories 2020
0     Alabama                 AL  ...              -0.2274             Medium-Low
1      Alaska                 AK  ...               0.0627            Medium-High
2     Arizona                 AZ  ...               0.0627            Medium-High
3    Arkansas                 AR  ...              -0.1441             Medium-Low
4  California                 CA  ...               0.2115            Medium-High

[5 rows x 10 columns]

In [ ]:
inclusiveness_index.to_csv('/content/drive/My Drive/Documentos/2021 1/5. BI/Proyecto final/datasources/InclusivenessIndex.csv', index = False)
covid_index.to_csv('/content/drive/My Drive/Documentos/2021 1/5. BI/Proyecto final/datasources/CovidIndex.csv', index = False)